[Desktop Entry]
Icon=text-html
Name=Pandas_colab
Type=Link
URL[$e]=https://colab.research.google.com/drive/1pgd1nx3GHvORdJxGWsflK3-5DEJCsl1-?usp=sharing
