[Desktop Entry]
Icon=text-html
Name=Pandas_colab
Type=Link
URL[$e]=https://colab.research.google.com/drive/1g3q85r7lchqeQHTi-KoequlcgapmJIGn?usp=sharing
