[Desktop Entry]
Icon=text-html
Name=Binomial_Distribution_colab
Type=Link
URL[$e]=https://colab.research.google.com/drive/17nPOH-oM3kyj-BIfRjRvB36BjViBHtvE?usp=sharing
