[Desktop Entry]
Icon=text-html
Name=Basic_Probability_colab
Type=Link
URL[$e]=https://colab.research.google.com/drive/1pfx4KP3Pum3FW_-Dng8Qad0d1gX80opr?usp=sharing
